<!doctype html>
<html lang="en">

<head>
  <title>Shopping List Check Off</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <style>
    .emptyMessage {
      font-weight: bold;
      color: red;
      font-size: 1.2em;
    }
    
    li {
      margin-bottom: 7px;
      font-size: 1.2em;
    }
    
    li > button {
      margin-left: 6px;
    }
    
    button > span {
      color: green;
    }
  </style>
</head>

<body ng-app="ShoppingListCheckOff">
  <div class="container">
    <h1>Shopping List Check Off</h1>

    <div class="row">

      <!-- To Buy List -->
      <div class="col-md-6" ng-controller="ToBuyController as buyCtrl">
        <h2>To Buy:</h2>
        <ul>
          <!--bind a method to the ng-click that calls the correct method inside your ShoppingListCheckOffService -->
          <li ng-repeat="item in buyCtrl.toBuy">Buy {{item.quantity}} {{item.name}}
            <button ng-click="buyCtrl.markAsBought(item)" class="btn btn-default">
            <span class="glyphicon glyphicon-ok"></span> Bought
            </button>
          </li>
        </ul>
        <div class="emptyMessage" ng-if="buyCtrl.toBuy.length === 0">{{buyCtrl.emptyMessage}}</div>
      </div>

      <!-- Already Bought List -->
      <div class="col-md-6" ng-controller="AlreadyBoughtController as boughtCtrl">
        <h2>Already Bought:</h2>
        <ul>
          <li ng-repeat="item in boughtCtrl.bought">Bought {{item.quantity}} {{item.name}}</li>
        </ul>
        <div class="emptyMessage" ng-if="boughtCtrl.bought.length === 0">{{boughtCtrl.emptyMessage}}</div>
      </div>
    </div>
  </div>
  <script src="../vendor/angular/angular.js"></script>
  <script type="text/javascript" src="app.js"></script>
</body>

</html>