[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

.enjoy, .too-much {
    color: green;
    border: 1px solid green;
}

.enter-data {
    color: red;
    border: 1px solid red;
}