<!doctype html>
<html lang="en">

<head>
  <title>Lunch Checker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
</head>

<div> </div>

<body ng-app="LunchCheck">
  <div class="container" ng-controller="LunchCheckController">
    <h1>Lunch Checker</h1>

    <div class="form-group">
      <input id="lunch-menu" type="text" placeholder="list comma separated dishes you usually have for lunch" class="form-control"
        ng-model="foodlist">
    </div>
    <div class="form-group">
      <button class="btn btn-default" ng-click="foodcalc()">Check If Too Much</button>
    </div>
    <div class="form-group message" ng-model="foodresponse">
      {{foodresponse}}
  </div>
  <script src="../node_modules/angular/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</body>

</html>